*{margin:0; padding: 0;} 

body { 
margin-top: -2vw;
}


header{
    width: 100vw;
    height: -200px;
    margin-top: -0vw;
    position: absolute;
}

#navigatie{
    float: right;
    list-style: none;
}

li{
    float: left;
    padding: 40px;
    font-size: 25px;
    list-style: none;
}

a{
    background-color: #FF4500;
    padding: 8px;
    border-radius: 20px;
    color: yellow;
    text-decoration: none;
}

#rocket{
    font-size: 100px;
    margin-left: 430px;
    margin-top: -100px;
    color: yellow;
    position: absolute;
}

#fuel{
    font-size: 100px;
    margin-left: 750px;
    margin-top: -100px;
    color:#A52A2A;
    position: absolute;
}

article img{
    width: 100vw;
    height: -5px;
}

#foto2{
    width: 1000px;
    position: absolute;
    margin-top: 50px;
    margin-left: 10px;
}

#foto3{
    margin-top: 210px;
    position: absolute;
    width: 1000px;
    margin-left: 310px;
    height: 400px;
    object-fit: cover;
}

#about{
    font-size: 40px;
    text-align: center;
    margin-top: -70px;
    margin-left: -1vw;
    position: absolute;
    color: yellow;
    position: absolute;
}

#teksten{
    width: 30vw;
    margin-left: 55vw;
    height: 50vh;
    padding-top: 250px;
    position: absolute;
}