*{margin:0; padding: 0;} 

header{
    width: 100vw;
    height: -200px;
    margin-top: -0vw;
    position: absolute;
}

#navigatie{
    float: right;
    list-style: none;
}

#ul1{
    list-style: none;
    margin-left: 100px;
}

li{
    float: left;
    padding: 40px;
    font-size: 25px;
    list-style: none;
}

a{
    background-color: #FF4500;
    padding: 8px;
    border-radius: 20px;
    color: yellow;
    text-decoration: none;
}

#rocket{
    font-size: 100px;
    margin-left: 430px;
    margin-top: -100px;
    color: yellow;
    position: absolute;
}

#fuel{
    font-size: 100px;
    margin-left: 750px;
    margin-top: -100px;
    color:#A52A2A;
    position: absolute;
}

article img{
    width: 100vw;
    height: -70px;
}

#ul2{
     margin-top: 300px;
     margin-left: -100px;
}

#ul3{
    margin-top: 120px;
    margin-left: -425px;
}

#ul4{
    margin-top: 60px;
    margin-left: -425px;
}

#foto2{
    width: 1400px;
    position: absolute;
    margin-top: -150px;
    margin-left: 150px;
}